.Btn {
  width: 110px;
  height: 70px;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.Btn::before,
.Btn::after,
.span::after,
.span::before {
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  content: "";
  transition: all 0.2s ease;
}

.Btn::before {
  background-color: red;
  width: 25%;
  left: 0;
  transform: translateY(-100%);
}

.Btn::after {
  background-color: orange;
  width: 25%;
  left: 25%;
  transform: translateY(100%);
}

.span::before {
  background-color: green;
  width: 25%;
  left: 50%;
  transform: translateY(-100%);
}
.span::after {
  background-color: rgb(33, 67, 255);
  width: 25%;
  left: 75%;
  transform: translateY(100%);
}

.Btn:hover::after,
.Btn:hover::before,
.Btn:hover .span::after,
.Btn:hover .span::before {
  transform: translate(0%);
}
